<!-- Renders the navbar -->
{% include 'navbar.html'%}

<!--Renders the images for Red and Blue anim-->
<div style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: 1fr;">

    <div style="grid-row-start: 1; grid-column-start: 1;">
        <p style="text-align: center;">Blue Filter</p>                

        <img id="bluefilter_png" src={{bluefilter_png}} width="50%" style="float:left; margin-right:5px">
        <img id="bluefilter_gif" src={{bluefilter_gif}} style="margin-left: auto; margin-right: auto; display: block;">
    </div>

    <div style="grid-row-start: 1; grid-column-start: 2;">
        <p style="text-align: center;">Red Filter</p>
        
        <img id="redfilter_png" src={{redfilter_png}} width="50%"  style="float:left; margin-right:5px; display: block;">
        <img id="redfilter_gif" src={{redfilter_gif}} style="margin-left: auto; margin-right: auto; display: block;">
    </div>

</div>

<script>
    function autoRefresh() {
        //window.location = window.location.href;
        // Blue
        var bluePng = document.getElementById('bluefilter_png');
        var blueGif = document.getElementById('bluefilter_gif');

        bluePng.src = '{{bluefilter_png}}?' + Math.floor(Math.random() * 10000);
        blueGif.src = '{{bluefilter_gif}}?' + Math.floor(Math.random() * 10000);

        // Red
        var redPng = document.getElementById('redfilter_png');
        var redGif = document.getElementById('redfilter_gif');
        
        redPng.src = '{{redfilter_png}}?' + Math.floor(Math.random() * 10000);
        redGif.src = '{{redfilter_gif}}?' + Math.floor(Math.random() * 10000);
    }
    setInterval('autoRefresh()', 120000);
</script>