<!-- Renders the navbar -->
{% include 'navbar.html'%}

<!-- Renders other resources for information -->
<div class="bg-light">
    <main role="main" class="container">
        <div class="my-3 p-3 bg-white rounded shadow-sm" style="font-family: PT Sans;">
          <h4 class="border-bottom border-gray pb-2 mb-0" style="color: #737373 !important;">Other Resources</h4>
          <div class="d-block p-2">
               <p style="color: #737373 !important;"> Weather Stations </p>
                <p>
                </p><ul>
                     <li><a style="color: #09c;" href="http://lcohsnode.lco.cl/~hatuser/wth/" target="_blank">HAT South</a></li>
                     <li><a style="color: #09c;" href="http://www.ls.eso.org/lasilla/dimm/" target="_blank">La Silla MeteoMonitor</a></li>
                     <li><a style="color: #09c;" href="http://www.ctio.noao.edu/noao/content/Environmental-Page" target="_blank">CTIO Site Environmental Conditions</a></li>
                     <li><a style="color: #09c;" href="https://www.gemini.edu/sciops/telescopes-and-sites/weather/cerro-pachon/envmon/" target="_blank">Gemini South Environmental Monitor</a></li>
                </ul>
                <p></p>
                <p style="color: #737373 !important;">Earthquake </p>
                <p>
                </p><ul>
                     <li><a style="color: #09c;" href="https://earthquake.usgs.gov/earthquakes/map/?extent=-68.84767,-193.35938&amp;extent=33.43144,52.20703&amp;baseLayer=terrain" target="_blank">USGS</a></li>
                     <li><a style="color: #09c;" href="http://www.sismologia.cl" target="_blank">Centro Sismológico Nacional Chile</a></li>
                     <li><a style="color: #09c;" href="https://earthquake.usgs.gov/monitoring/operations/stations/IU/LCO" target="_blank">USGS Las Campanas Astronomical Observatory</a></li>
                </ul>
                <p></p>
                <p style="color: #737373 !important;">Light Pollution </p>
                <p>
                </p><ul>
                     <li><a style="color: #09c;" href="https://www.darksky.org" target="_blank">International Dark Sky Association</a></li>
                     <li><a style="color: #09c;" href="https://cieloschile.cl" target="_blank">Fundación Cielos de Chile</a></li>
                </ul>
                <p></p>
          </div>
         </div>
        
      </main>
    </div>