<!-- Renders the navbar -->
{% include 'navbar.html'%}

<!-- Renders display for Cardinal points Webcams -->
<div style="display: grid; grid-template-columns: 1fr 1fr 1fr; grid-template-rows: 1fr;">

    <div style="grid-row-start: 1; grid-column-start: 1;">
        <p style="text-align: center;">North</p>                

        <img id="northwebcam_png" src={{northwebcam_png}} width="100%" style="float:left; margin-right:5px">
        <img id="northwebcam_gif" src={{northwebcam_gif}} style="margin-left: auto; margin-right: auto; display: block;">
    </div>

    <div style="grid-row-start: 1; grid-column-start: 2;">
        <p style="text-align: center;">West</p>
        <img id="westwebcam_png" src={{westwebcam_png}} width="100%"  style="float:left; margin-right:5px">
        <img id="westwebcam_gif" src={{westwebcam_gif}} style="margin-left: auto; margin-right: auto; display: block;">
    </div>

    <div style="grid-row-start: 1; grid-column-start: 3;">
        <p style="text-align: center;">South</p>
        <img id="southwebcam_png" src={{southwebcam_png}} width="100%" style="float:left; margin-right:5px">
        <img id="southwebcam_gif" src={{southwebcam_gif}} style="margin-left: auto; margin-right: auto; display: block;">
    </div>


</div>

<script>
    function autoRefresh() {
        // North
        var northwebcamPng = document.getElementById('northwebcam_png');
        var northwebcamGif = document.getElementById('northwebcam_gif');

        northwebcamPng.src = '{{northwebcam_png}}?' + Math.floor(Math.random() * 10000);
        northwebcamGif.src = '{{northwebcam_gif}}?' + Math.floor(Math.random() * 10000);

        // West
        var westwebcamPng = document.getElementById('westwebcam_png');
        var westwebcamGif = document.getElementById('westwebcam_gif');

        westwebcamPng.src = '{{westwebcam_png}}?' + Math.floor(Math.random() * 10000);
        westwebcamGif.src = '{{westwebcam_gif}}?' + Math.floor(Math.random() * 10000);

        // South
        var southwebcamPng = document.getElementById('southwebcam_png');
        var southwebcamGif = document.getElementById('southwebcam_gif');
            
        southwebcamPng.src = '{{southwebcam_png}}?' + Math.floor(Math.random() * 10000);
        southwebcamGif.src = '{{southwebcam_gif}}?' + Math.floor(Math.random() * 10000);
        
    }
    setInterval('autoRefresh()', 120000);
</script>